:root {
    --Falu_red: #70281F;
    --Light_yellow: #F8FFE5;
    --Light_yellow_hover: #f8ffe5a2;
    --Charcoal: #2A3D45;
}

html {
    color: var(--Light_yellow);
}

body {
    background-color: var(--Charcoal);
    margin: 0;
    font-size: 16px;
    font-family: 'Playfair Display',
        serif;
}

body {
    font-size: 16px;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: var(--Light_yellow);
}

a:hover {
    color: var(--Light_yellow_hover);
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 6px solid var(--Falu_red);
}

header.seul {
    display: flex;
    justify-content: center;
    border-bottom: 6px solid var(--Falu_red);
}

header h1 {
    margin: 10px 10px;
}

main h1 {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
}

div.description {
    margin: 20px;
    border-bottom: 6px solid var(--Falu_red);
}


nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    list-style: none;
}

nav li {
    margin: 0 20px;
}

h1 a img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease-in-out;
}

img.mangalibrary {
    width: auto;
    height: auto;
}

h1 a img:hover {
    transform: scale(1.10);
}

img.main {
    cursor: pointer;
}

div.liste_projets {
    border-bottom: 6px solid var(--Falu_red);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

div.liste_img_projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

div.liste_compétences {
    border-bottom: 6px solid var(--Falu_red);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

div.projet img {
    border-radius: 6px;
    width: inherit;
    height: inherit;
}

div.projet img:hover {
    zoom: 105%;
}

div.projet {
    border: 2px solid black;
    border-radius: 6px;
    margin: 10px;
    width: 300px;
    height: 300px;
    box-shadow: 20px solid black;
    transition: transform 0.3s ease-in-out;
}


div.projet:hover {
    transform: scale(1.05);
}

div.projet_custom img {
    border-radius: 6px;
    width: inherit;
    height: inherit;
}

div.projet_custom img:hover {
    zoom: 105%;
}

div.projet_custom {
    border: 2px solid black;
    border-radius: 6px;
    margin: 10px;
    width: 1200px;
    height: 300px;
    box-shadow: 20px solid black;
    transition: transform 0.3s ease-in-out;
}

div.projet_custom:hover {
    transform: scale(1.05);
}

div.liste_actus {
    display: flex;
    flex-direction: column;
}

p.actus {
    text-decoration: underline var(--Falu_red);
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 6px dotted var(--Falu_red);
}

footer h1 {
    margin: 4px;
    font-size: 16px;
}

footer p {
    font-size: 12px;
}

footer div {
    margin: 0 10px;
}

footer a {
    margin: 10px 5px;
}

svg {
    transition: transform 0.3s ease-in-out;
}

svg:hover {
    transform: scale(1.10);
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.hamburger__line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--Light_yellow);
    margin: 5px 0;
}


@media screen and (max-width: 1023px) {


    .hamburger {
        display: block;
    }

    nav {
        display: block;
        position: fixed;
        border-left: 5px solid var(--Falu_red);
        top: 0;
        right: 0;
        transform: translateX(100%);
        width: 200px;
        height: 100%;
        background-color: var(--Charcoal);
        z-index: 1000;
        transition: transform 0.5s ease;
    }

    nav ul {
        list-style: none;
    }

    nav ul li {
        margin-bottom: 20px;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 18px;
    }

    nav.active {
        transform: translateX(0);
    }

    div.projet img {
        border-radius: 6px;
        width: 100%;
        height: 100%;
    }

    div.projet img:hover {
        zoom: 105%;
    }

    div.projet {
        border: 2px solid black;
        border-radius: 6px;
        margin: 10px;
        width: 45%;
        height: 45%;
        aspect-ratio: 1;
        box-shadow: 20px solid black;
    }


    div.projet:hover {
        transform: scale(1.05);
    }

    div.projet_custom img {
        border-radius: 6px;
        width: inherit;
        height: inherit;
    }

    div.projet_custom {
        border: 2px solid black;
        border-radius: 6px;
        margin: 10px;
        width: 1200px;
        height: 300px;
        box-shadow: 20px solid black;
    }
}